In [1]:
from schrodinger.pipeline.stages.qikprop import QikPropStage as qp
import schrodinger.pipeline.pipeio as pipeio
from core.predictor import Predictor
import time

In [2]:
p = Predictor(['Cn1c(CN2CCN(CC2)c3ccc(Cl)cc3)nc4ccccc14', 'COc1cc(OC)c(cc1NC(=O)CSCC(=O)O)S(=O)(=O)N2C(C)CCc3ccccc23'],
             "test/pdbdemo.pdb","test/configtest.txt")

In [3]:
tic = time.time()
df = p.run()
toc = time.time()

-qikprop STDOUT/STDERR:
-obabel STDOUT:
-obabel STDERR:
==============================
*** Open Babel Warning  in OpenBabel::OBGlobalDataBase::Init
  Unable to open data file 'space-groups.txt'
==============================
*** Open Babel Warning  in OpenBabel::OBGlobalDataBase::Init
  Cannot initialize database 'space-groups.txt' which may cause further errors.
1 molecule converted
-obabel STDOUT:
-obabel STDERR:
2 molecules converted
2 files output. The first is 2713763365993915908_1.pdbqt
-qikprop DONE
-vina STDOUT:
#################################################################
# If you used AutoDock Vina in your work, please cite:          #
#                                                               #
# O. Trott, A. J. Olson,                                        #
# AutoDock Vina: improving the speed and accuracy of docking    #
# with a new scoring function, efficient optimization and       #
# multithreading, Journal of Computational Chemistry 31 (2010)  #
# 455-461                                                       #
#                                                               #
# DOI 10.1002/jcc.21334                                         #
#                                                               #
# Please see http://vina.scripps.edu for more information.      #
#################################################################

Detected 12 CPUs
Reading input ... done.
Setting up the scoring function ... done.
Analyzing the binding site ... done.
Using random seed: 1111838776
Performing search ...
0%   10   20   30   40   50   60   70   80   90   100%
|----|----|----|----|----|----|----|----|----|----|
***************************************************
done.
Refining results ... done.

mode |   affinity | dist from best mode
     | (kcal/mol) | rmsd l.b.| rmsd u.b.
-----+------------+----------+----------
   1         -5.8      0.000      0.000
   2         -5.7      4.521     11.049
   3         -5.4      3.452      8.838
   4         -5.3      4.416     10.688
   5         -5.2      4.713     10.984
   6         -5.2      8.309     11.554
   7         -5.2      6.108      7.044
   8         -5.1     12.784     14.802
   9         -5.1     12.911     14.338
Writing output ... done.
-vina STDERR:
-vina STDOUT:
#################################################################
# If you used AutoDock Vina in your work, please cite:          #
#                                                               #
# O. Trott, A. J. Olson,                                        #
# AutoDock Vina: improving the speed and accuracy of docking    #
# with a new scoring function, efficient optimization and       #
# multithreading, Journal of Computational Chemistry 31 (2010)  #
# 455-461                                                       #
#                                                               #
# DOI 10.1002/jcc.21334                                         #
#                                                               #
# Please see http://vina.scripps.edu for more information.      #
#################################################################

Detected 12 CPUs
Reading input ... done.
Setting up the scoring function ... done.
Analyzing the binding site ... done.
Using random seed: 73576160
Performing search ...
0%   10   20   30   40   50   60   70   80   90   100%
|----|----|----|----|----|----|----|----|----|----|
***************************************************
done.
Refining results ... done.

mode |   affinity | dist from best mode
     | (kcal/mol) | rmsd l.b.| rmsd u.b.
-----+------------+----------+----------
   1         -5.0      0.000      0.000
   2         -5.0      9.832     12.859
   3         -4.9      2.950      6.174
   4         -4.9      1.639      2.315
   5         -4.7      2.627      4.192
   6         -4.7      2.914      6.365
   7         -4.7      9.821     13.153
   8         -4.6      2.258      3.246
   9         -4.6      2.784      6.615
Writing output ... done.
-vina STDERR:

In [4]:
df

,molecule,#stars,#amine,#amidine,#acid,#amide,#rotor,#rtvFG,CNS,mol_MW,...,#NandO,RuleOfFive,#ringatoms,#in34,#in56,#noncon,#nonHatm,RuleOfThree,Jm,dock_score
0,Molecule 1,0,1,0,0,0,2,0,2,340.855,...,4,0,21,0,21,4,24,0,0.006,-5.8
1,Molecule 2,1,0,0,1,0,9,0,-2,494.577,...,9,0,16,0,16,3,33,0,0.003,-5.0

In [6]:
(toc-tic)/60

3.184261945883433

In [17]:
import pandas as pd
df1 = pd.DataFrame({}, index=[0,1,2])

In [18]:
df2 = pd.DataFrame({
    "A":[0,1,2],
    "B":[3,4,5]          
             })

In [19]:
pd.concat([df1, df2], axis=1, join="inner")

   A  B
0  0  3
1  1  4
2  2  5

In [43]:
df = util.qikprop(['Cn1c(CN2CCN(CC2)c3ccc(Cl)cc3)nc4ccccc14', 'COc1cc(OC)c(cc1NC(=O)CSCC(=O)O)S(=O)(=O)N2C(C)CCc3ccccc23'])

Running stage: 3877375943170185707
SCHRODINGER: D:\Program Files (x86)\Schrodinger
PYTHONPATH: C:\Program Files\PerkinElmerInformatics\ChemOffice2020\ChemScript\Lib
Time: Sun Oct 30 11:35:05 2022
Stage started successfully

Python version: 77128
Will NOT recombine input ligands
There will be 1 subjobs.
Running QikProp jobs...

Running subjobs on hosts:
  localhost (Max: 1)
Number of jobs:       1
Max retries per job:  2
Max allowed failures: unlimited
Verbosity:            normal

Starting JobDJ...

Keep one job on driver host: False
JobDJ columns:
  C: Number of completed subjobs
  A: Number of active subjobs (e.g., submitted, running)
  W: Number of waiting/pending subjobs

C A W | Activity  JobId  JobName  JobHost
- - - | --------- -----------------------
0 1 0 | launched  LAPTOP-0287K7QE-0-635df104 3877375943170185707-001 localhost [LAPTOP-0287K7QE]
1 0 0 | finished  LAPTOP-0287K7QE-0-635df104 3877375943170185707-001 localhost [LAPTOP-0287K7QE]

All jobs have completed.

1 of 1 job(s) succeeded; 0 job(s) failed.

Checking subjob outputs...

Sum of structure counts of all subjobs:

 ** 2 molecules were successfully processed, 0 failed, 0 skipped **

STAGE COMPLETED. Elapsed time: 38 seconds

    Output #1 (OUTPUT) [structures(2)]:
      OUTPUT-001.sdfgz
Done.

In [5]:
df

,molecule,#stars,#amine,#amidine,#acid,#amide,#rotor,#rtvFG,CNS,mol_MW,...,PSA,#NandO,RuleOfFive,#ringatoms,#in34,#in56,#noncon,#nonHatm,RuleOfThree,Jm
0,Molecule 1,0,1,0,0,0,2,0,2,340.855,...,25.749,4,0,21,0,21,4,24,0,0.006
1,Molecule 2,1,0,0,1,0,9,0,-2,494.577,...,129.573,9,0,16,0,16,3,33,0,0.003